<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button class="logo" (click)="handleToHomePage()">
        <mat-icon>home</mat-icon>
        <span>{{ title }}</span>
      </button>
      <div *ngIf="!deviceXs" fxLayoutAlign="space-between">
        <button mat-button (click)="handleToWeatherForecastPage()">Weather Forecast</button>
        <button mat-button (click)="handleToHistoryPage()">Weather Forecast History</button>
      </div>
    </div>
    <div>
      <button mat-button>
        <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
        <span *ngIf="!deviceXs">Menu</span>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="deviceXs">
    <div *ngIf="deviceXs" fxLayoutAlign="space-between">
      <button mat-button>Home</button>
      <button mat-button>Contact us</button>
      <button mat-button>About us</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>