<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div>
        <h1> {{ form.status }} </h1>
      <form [formGroup]="form">
        <input formControlName="rangeStart" placeholder="Range start" type="number">
        <input formControlName="rangeEnd" placeholder="Range end" type="number">
      </form>
      <div> Valid: {{ form.valid ? '👍' : '👎' }} </div>
      </div>
    </div>
    
    <div class="col-6">
      <div class="card" style="width: 100%rem">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h1 class="card-title">Number Compare</h1>
          <form [formGroup]="exampleValidateForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="dateType">Compare Type</label>
              <select
                class="custom-select"
                id="dateType"
                required
                formControlName="compareType"
                (change)="handleCompare()"
              >
                <option selected disabled>Open this select menu</option>
                <option value="Greater than">Greater than</option>
                <option value="Less than">Less than</option>
                <option value="Equal">Equal</option>
              </select>
            </div>
            <div class="row" *ngIf="compareType.valid">
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputMonth">Value 1</label>
                  <input
                    type="number"
                    class="form-control"
                    id="exampleInputMonth"
                    aria-describedby="monthHelp"
                    formControlName="value1"
                    required
                  />
                  <div *ngIf="value1.invalid && value1.touched">
                    <small class="form-text" style="color: red;">* Error</small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputMonth">Value 2</label>
                  <input
                    type="number"
                    class="form-control"
                    id="exampleInputMonth"
                    aria-describedby="monthHelp"
                    formControlName="value2"
                    required
                  />
                  <div *ngIf="value2.invalid && value2.touched">
                    <small class="form-text" style="color: red;">* Error</small>
                  </div>
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              style="width: 100%"
              [disabled]="this.exampleValidateForm.invalid || loading"
            >
              {{ this.exampleValidateForm.status }}
            </button>
            <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
          </form>
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>
</div>

