<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px">
  <div fxLayout="column">
    <div>
      <h1 class="mat-display-4">Weather Forecast</h1>
      <pre *ngIf="selectedLocation">{{selectedLocation}}
      </pre>
    </div>
    <div class="select-province">
      <mat-form-field appearance="fill" class="example-form">
        <mat-label>เลือกจังหวัด</mat-label>
        <mat-select [(ngModel)]="selectedLocation">
          <mat-option *ngFor="let location of locations" [value]="location.province" (click)="forecastHistory()">
            {{ location.province }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
    <div class="card-province" *ngIf="forecasts">
        <mat-card class="example-card" *ngFor="let forecast of forecasts">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <div *ngIf="forecast.cond === 1">
                <mat-icon>wb_sunny</mat-icon>
              </div>
              <div *ngIf="forecast.cond === 2">
                <mat-icon>wb_cloud</mat-icon>
              </div>
              <div *ngIf="forecast.cond === 3">
                <mat-icon>wb_cloudy</mat-icon>
              </div>
              <mat-card-title> {{ forecast.location.province }} </mat-card-title>
              <mat-card-subtitle> {{ forecast.time }} </mat-card-subtitle>
            </mat-card-header>
  
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <div>
                <!-- <mat-icon>thermometer</mat-icon> -->
                อุณหภูมิ(องศา): {{ forecast.tc }}
                <!-- <mat-icon>temperature-celsius</mat-icon> -->
              </div>
              <div>
                <!-- <mat-icon>water-percent</mat-icon> -->
                ความชื้นสัมพัทธเฉลี่ย: {{ forecast.rh }}
              </div>
  
              <div class="row">
                <span>สภาพอากาศ:</span>
                <p *ngIf="forecast.cond === 1">ปลอดโปร่ง</p>
                <p *ngIf="forecast.cond === 2">มีเมฆเล็กน้อย</p>
                <p *ngIf="forecast.cond === 3">มีเมฆมาก</p>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>{{ "full report" | uppercase }}</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>
</div>
