<div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px">
    <div fxLayout="column">
      <ng-container *ngIf="user; else elseTemplate">
        <h1 class="mat-display-4">Logged in as: {{ user }}.</h1>
      </ng-container>
      <ng-template #elseTemplate>
        <h1 class="mat-display-4">Please login!</h1>
        <h1 class="mat-display-2">
          With GitHub: <a href="http://localhost:9000/oauth2/authorization/github">click here</a>
        </h1>
      </ng-template>
    </div>
  </div>
</div>
