<div>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px">
    <div fxLayout="column">
      <div>
        <h1 class="mat-display-4">Weather Forecast</h1>
      </div>
      
      <div>
        <form>
          <mat-form-field class="max-width">
            <div>
              <input
                type="text"
                placeholder="จังหวัด"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
                [(ngModel)]="selectedProvince"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </mat-form-field>
        </form>
      </div>

      <button
        mat-stroked-button
        (click)="getForecast()"
        color="primary"
        class="forecast-button"
      >
        Forecast
      </button>
      <div *ngIf="loading">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
      <div *ngIf="forecast">
        <mat-card class="forecast-card">
          <mat-card-header>
            <div mat-card-avatar>
              <div *ngIf="forecast.cond === 1">
                <mat-icon svgIcon="weather-sunny" class="forecast-icon-weather forecast-icon-weather-sunny"></mat-icon>
              </div>
              <div *ngIf="forecast.cond === 2">
                <mat-icon svgIcon="weather-cloudy" class="forecast-icon-weather forecast-icon-weather-cloudy"></mat-icon>
              </div>
              <div *ngIf="forecast.cond === 3">
                <mat-icon svgIcon="weather-partly-cloudy" class="forecast-icon-weather forecast-icon-weather-partly-cloudy"></mat-icon>
              </div>
            </div>

            <mat-card-title> {{ forecast.location.province }} </mat-card-title>
            <mat-card-subtitle> {{ forecast.time }} </mat-card-subtitle>
          </mat-card-header>

          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <div>
              <!-- <mat-icon>thermometer</mat-icon> -->
              <mat-icon svgIcon="thermometer" color="primary" aria-label="อุณหภูมิ(องศา)"></mat-icon><span>{{ forecast.tc }}</span>
              <!-- <mat-icon>temperature-celsius</mat-icon> -->
            </div>
            <div>
              <!-- <mat-icon>water-percent</mat-icon> -->
              <mat-icon svgIcon="water-percent" color="primary" aria-label="ความชื้นสัมพัทธเฉลี่ย"></mat-icon><span>{{ forecast.rh }}</span>
            </div>

            <div fxLayout="row">
              <span>สภาพอากาศ: &nbsp; </span>
              <p *ngIf="forecast.cond === 1">ปลอดโปร่ง</p>
              <p *ngIf="forecast.cond === 2">มีเมฆเล็กน้อย</p>
              <p *ngIf="forecast.cond === 3">มีเมฆมาก</p>
            </div>
              
           
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary">{{ "full report" | uppercase }}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
